#include "resource.h"
#include <windows.h>
#include <commctrl.h>

IDD_NOWBAR_PREFERENCES DIALOGEX 0, 0, 340, 240
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    // Tab control at top
    CONTROL         "", IDC_TAB_CONTROL, WC_TABCONTROL, 0, 4, 4, 332, 232

    // === General Tab Controls ===
    LTEXT           "Theme Mode:", IDC_THEME_MODE_LABEL, 16, 32, 50, 12
    COMBOBOX        IDC_THEME_MODE_COMBO, 70, 30, 120, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Cover Margin:", IDC_COVER_MARGIN_LABEL, 16, 50, 50, 12
    COMBOBOX        IDC_COVER_MARGIN_COMBO, 70, 48, 120, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Bar Style:", IDC_BAR_STYLE_LABEL, 16, 68, 50, 12
    COMBOBOX        IDC_BAR_STYLE_COMBO, 70, 66, 120, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Mood Icon:", IDC_MOOD_ICON_LABEL, 16, 86, 50, 12
    COMBOBOX        IDC_MOOD_ICON_COMBO, 70, 84, 120, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "MiniPlayer Icon:", IDC_MINIPLAYER_ICON_LABEL, 16, 104, 60, 12
    COMBOBOX        IDC_MINIPLAYER_ICON_COMBO, 80, 102, 110, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Hover Circles:", IDC_HOVER_CIRCLES_LABEL, 16, 122, 60, 12
    COMBOBOX        IDC_HOVER_CIRCLES_COMBO, 80, 120, 110, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Alternate Icons:", IDC_ALTERNATE_ICONS_LABEL, 16, 140, 60, 12
    COMBOBOX        IDC_ALTERNATE_ICONS_COMBO, 80, 138, 110, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    // === Fonts Tab Controls ===
    GROUPBOX        "Font Settings", IDC_FONTS_GROUP, 12, 26, 316, 130
    
    LTEXT           "Track Title:", IDC_TRACK_FONT_LABEL, 20, 44, 50, 12
    LTEXT           "", IDC_TRACK_FONT_DISPLAY, 75, 44, 180, 12, SS_LEFTNOWORDWRAP | SS_PATHELLIPSIS
    PUSHBUTTON      "Select...", IDC_TRACK_FONT_SELECT, 260, 42, 56, 14
    
    LTEXT           "Artist Name:", IDC_ARTIST_FONT_LABEL, 20, 64, 50, 12
    LTEXT           "", IDC_ARTIST_FONT_DISPLAY, 75, 64, 180, 12, SS_LEFTNOWORDWRAP | SS_PATHELLIPSIS
    PUSHBUTTON      "Select...", IDC_ARTIST_FONT_SELECT, 260, 62, 56, 14

    // === Custom Button Tab Controls ===
    LTEXT           "Enable", IDC_CBUTTON_ENABLE_LABEL, 20, 32, 25, 12
    LTEXT           "Action", IDC_CBUTTON_ACTION_LABEL, 48, 32, 25, 12
    LTEXT           "Path", IDC_CBUTTON_PATH_LABEL, 125, 32, 20, 12

    AUTOCHECKBOX    "#1", IDC_CBUTTON1_ENABLE, 20, 48, 20, 12
    COMBOBOX        IDC_CBUTTON1_ACTION, 48, 46, 72, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_CBUTTON1_PATH, 125, 46, 160, 14, ES_AUTOHSCROLL
    PUSHBUTTON      "...", IDC_CBUTTON1_BROWSE, 289, 46, 20, 14

    AUTOCHECKBOX    "#2", IDC_CBUTTON2_ENABLE, 20, 66, 20, 12
    COMBOBOX        IDC_CBUTTON2_ACTION, 48, 64, 72, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_CBUTTON2_PATH, 125, 64, 160, 14, ES_AUTOHSCROLL
    PUSHBUTTON      "...", IDC_CBUTTON2_BROWSE, 289, 64, 20, 14

    AUTOCHECKBOX    "#3", IDC_CBUTTON3_ENABLE, 20, 84, 20, 12
    COMBOBOX        IDC_CBUTTON3_ACTION, 48, 82, 72, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_CBUTTON3_PATH, 125, 82, 160, 14, ES_AUTOHSCROLL
    PUSHBUTTON      "...", IDC_CBUTTON3_BROWSE, 289, 82, 20, 14

    AUTOCHECKBOX    "#4", IDC_CBUTTON4_ENABLE, 20, 102, 20, 12
    COMBOBOX        IDC_CBUTTON4_ACTION, 48, 100, 72, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_CBUTTON4_PATH, 125, 100, 160, 14, ES_AUTOHSCROLL
    PUSHBUTTON      "...", IDC_CBUTTON4_BROWSE, 289, 100, 20, 14

    AUTOCHECKBOX    "#5", IDC_CBUTTON5_ENABLE, 20, 120, 20, 12
    COMBOBOX        IDC_CBUTTON5_ACTION, 48, 118, 72, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_CBUTTON5_PATH, 125, 118, 160, 14, ES_AUTOHSCROLL
    PUSHBUTTON      "...", IDC_CBUTTON5_BROWSE, 289, 118, 20, 14

    AUTOCHECKBOX    "#6", IDC_CBUTTON6_ENABLE, 20, 138, 20, 12
    COMBOBOX        IDC_CBUTTON6_ACTION, 48, 136, 72, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_CBUTTON6_PATH, 125, 136, 160, 14, ES_AUTOHSCROLL
    PUSHBUTTON      "...", IDC_CBUTTON6_BROWSE, 289, 136, 20, 14
END
